//--------------------------------------------------------------------------//
//  $COMPONENT-NAVS
//--------------------------------------------------------------------------//
//  Various Navs
//--------------------------------------------------------------------------//

// Base class
// --------------------------------------------------

.nav {
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;

    .clearfix();

    > li {
        position: relative;
        display: block;

        > a {
            position: relative;
            display: block;
            padding: @nav-link-padding;
            &:hover,
            &:focus { text-decoration: none; }
        }
    }
}



// Pills
// -------------------------
.nav-pills {
     > li {
        float: left;
        > a {
            border-radius: @nav-pills-border-radius;
            padding: @nav-link-padding;

            &.active, &:hover, &:focus { background-color: @nav-link-hover-bg; }
        }
    }
}
