//--------------------------------------------------------------------------//
//  $COMPONENT-COLOR
//--------------------------------------------------------------------------//
//  color component
//--------------------------------------------------------------------------//

.color-title {
    color: @ui-alt;
    .rem-size(margin-top, @base-line-height-computed);
    text-align: right;
    @media (max-width: @screen-tn-max) {
        text-align: left;
    }
}

.color-list { padding: 0; }
.color-list li {
    padding: 0;
    cursor: pointer;
}
