//--------------------------------------------------------------------------//
//  $COMPONENT-NAVS
//--------------------------------------------------------------------------//
//  Various Navs
//--------------------------------------------------------------------------//

// Base class
// --------------------------------------------------

.nav {
    .box-sizing(border-box);
    height: 36px;

    > a {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        .rem-size(font-size, 16);
        position: relative;
        display: inline-block;
        padding: @nav-link-padding;
        margin: 0 3px;
        .box-sizing(border-box);

        &:hover,
        &:focus { text-decoration: none; }
    }
}



// Pills
// -------------------------
.nav-pills {
    > a {
        border-radius: @nav-pills-border-radius;
        padding: @nav-link-padding;

        &.active,
        &:hover,
        &:focus {
            background-color: @nav-link-hover-bg;
            color: @primary-hover;
        }
    }
}
