//--------------------------------------------------------------------------//
//  $COMPONENT-FEATURES
//--------------------------------------------------------------------------//
//  feature component
//--------------------------------------------------------------------------//

.features-container {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

.features-header {
    overflow: hidden;
    background: url('../imgs/phpbb-features1.png') no-repeat;
}

.features-nav {
    .swatch-white();
    padding: 10px;
}

.features-nav-fixed {
    position: fixed;
    top: 0;
    height: 56px;
    width: 870px;
    z-index: 9999;
    border-bottom: 2px solid @gray-95;
}

.nav > li > a.features-nav-top {
    display: none;
    float: right;
    width: 36px;
    height: 36px;
    background-image: url('../imgs/arrow-top.png');
    background-repeat: no-repeat;
    background-size: 36px 72px;
    background-position: 0 -31px;
    padding: 0;
    border-radius: 0;

    &:hover, &.active {
        background-color: transparent;
        background-position: 0 3px;
    }

    &.features-nav-top-show { display: inline-block; }
}

.feature-block {
    .swatch-grad-gray-500();
    height: auto;
    padding: 72px 0 48px;

    .clearfix();
}

.feature-row {
    height: auto;
    padding: 15px;

    .clearfix();
}
