//------------------------------------------------------------------------------
//  $COMPONENT-FEATURES
//------------------------------------------------------------------------------
//  feature component
//------------------------------------------------------------------------------

.features-container {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    .box-sizing(border-box);
}

.features-header {
    overflow: hidden;
    background-image: url('../imgs/phpbb-features.png');
    background-repeat: no-repeat;
}

.features-nav {
    padding: 10px;
    background-color: #fff;
    .box-sizing(border-box);
    z-index: 101;
    width: 900px;
}

.feature {
    .swatch-grad-gray-500();
    height: auto;
    padding: 72px 0 48px;
    .box-sizing(border-box);

    .clearfix();

    a {
        color: @primary-alt;
        &:hover {
            color: @primary-hover;
            text-decoration: none;
        }
    }
}

.feature-row {
    height: auto;
    padding: 15px;
    .box-sizing(border-box);

    .clearfix();
}
