//--------------------------------------------------------------------------//
//  $COMPONENT-SWATCH
//--------------------------------------------------------------------------//
//  swatch component
//--------------------------------------------------------------------------//

.swatch {
    border-radius: 6px;
    width: 120px;
    height: 100px;
    .rem-size(margin, (@base-line-height-computed / 2));
    margin: 15px 6px;
}

.swatch-inner-label {
    display: block;
    text-align: center;
    width: 100%;
    position: relative;
    top: -15px;
    margin-bottom: -100px;
    .rem-size(font-size, @mega);
}

.swatch-label {
    .rem-size(font-size, @milli);
    line-height: 1;
    .border-bottom-radius(6px);
    top: 70px;
    color: @primary-accent;
    font-weight: 500;
    text-align: center;
    padding: 6px 12px;
    position: relative;
    text-transform: uppercase;
    border: 1px solid @ui;
    background-color: @white;
    margin: 0;
}

.swatch-hexcode {
    display: block;
    color: @primary-alt;
}

.swatch-black   { .bg-variant(@black); }
.swatch-gray-10 { .bg-variant(@gray-10); }
.swatch-gray-20 { .bg-variant(@gray-20); }
.swatch-gray-30 { .bg-variant(@gray-30); }
.swatch-gray-40 { .bg-variant(@gray-40); }
.swatch-gray-50 { .bg-variant(@gray-50); }
.swatch-gray-60 { .bg-variant(@gray-60); }
.swatch-gray-70 { .bg-variant(@gray-70); }
.swatch-gray-80 { .bg-variant(@gray-80); }
.swatch-gray-90 { .bg-variant(@gray-90); }
.swatch-gray-95 { .bg-variant(@gray-95); }
.swatch-white   { .bg-variant(@white); }

.swatch-primary        { .bg-variant(@primary); }
.swatch-primary-alt    { .bg-variant(@primary-alt); }
.swatch-primary-accent { .bg-variant(@primary-accent); }
.swatch-primary-hover  { .bg-variant(@primary-hover); }

.swatch-secondary        { .bg-variant(@secondary); }
.swatch-secondary-alt    { .bg-variant(@secondary-alt); }
.swatch-secondary-accent { .bg-variant(@secondary-accent); }
.swatch-secondary-hover  { .bg-variant(@secondary-hover); }

.swatch-ui        { .bg-variant(@ui); }
.swatch-ui-alt    { .bg-variant(@ui-alt); }
.swatch-ui-accent { .bg-variant(@ui-accent); }
.swatch-ui-hover  { .bg-variant(@ui-hover); }

.swatch-info         { .bg-variant(@info); }
.swatch-danger       { .bg-variant(@danger); }
.swatch-warning      { .bg-variant(@warning); }
.swatch-success      { .bg-variant(@success); }
.swatch-info-dark    { .bg-variant(@info-dark); }
.swatch-danger-dark  { .bg-variant(@danger-dark); }
.swatch-warning-dark { .bg-variant(@warning-dark); }
.swatch-success-dark { .bg-variant(@success-dark); }

.swatch-grad-blue-dark    { #gradient .vertical-three-colors(darken(@primary-alt, 20%), @primary-alt, 90px, @primary-alt); }
.swatch-grad-blue-dark-reverse    { #gradient .vertical-three-colors(@primary-alt, darken(@primary-alt, 20%), 90px, darken(@primary-alt, 20%)); }
.swatch-grad-blue-light  { #gradient .vertical-three-colors(@secondary-accent, @secondary-alt, 15%, @secondary-alt); }
.swatch-grad-blue-light-reverse  { #gradient .vertical-three-colors(@secondary-alt, @secondary-accent, 15%, @secondary-accent); }
.swatch-grad-gray  { #gradient .vertical(@gray-90, @white); }
.swatch-grad-gray-reverse  { #gradient .vertical(@white, @gray-90); }
.swatch-grad-bluegray  { #gradient .vertical(mix(@black, @secondary-accent, 10%), @secondary-accent); }
.swatch-grad-bluegray-reverse  { #gradient .vertical(@secondary-accent, mix(@black, @secondary-accent, 10%)); }
