//--------------------------------------------------------------------------//
//  $ELEMENT-MEDIA
//--------------------------------------------------------------------------//
//  Media element
//--------------------------------------------------------------------------//

.media-title {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 35px;
	line-height: 42px;
	font-weight: 200;
	text-align: center;
	color: @gray-20;
	margin-bottom: 6px;

	.media-image {
		margin: 0 auto 36px;
		display: block;
	}
}

.media-copy {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
	color: @gray-50;

	.media-image {
		margin: 36px auto 0;
		display: block;
	}
}

.media-lg,
.media-md,
.media-sm {
    vertical-align: top;
    display: inline-block;
    padding: 30px;
    .box-sizing(border-box);
}

.media-lg {
    width: 100%;
    padding-left: 72px;
    padding-right: 72px;

	.media-title { margin-bottom: 18px; }

    .media-copy {
        font-size: 24px;
        line-height: 44px;
    }
}

.media-md {
    width: 49%;

    .media-title { font-size: 30px; }
    .media-copy { font-size: 18px;}
}

.media-sm {
    width: 33%;

    .media-title {
        font-size: 22px;
        line-height: 30px;
    }
}
