//--------------------------------------------------------------------------//
//  $ELEMENT-MEDIA
//--------------------------------------------------------------------------//
//  Media element
//--------------------------------------------------------------------------//

.media-title {
	font-size: 35px;
	line-height: 42px;
	font-weight: 200;
	text-align: center;
	color: @gray-20;
	margin-bottom: 6px;

	.media-image {
		margin: 0 auto 36px;
		display: block;
	}
}

.media-copy {
	font-size: 14px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
	color: @gray-50;

	.media-image {
		margin: 36px auto 0;
		display: block;
	}
}
