//------------------------------------------------------------------------------
//  $ELEMENT-LOGO
//------------------------------------------------------------------------------
//  Logo class
//------------------------------------------------------------------------------

.logo {
    // Decoration
    background: url('../imgs/prosilver-logo.png') no-repeat;

    // Layout
    display: inline-block;
    height: 50px;
    width: 144px;
}
