/*--------------------------------------------------------------------------*\
    $TYPE
/*--------------------------------------------------------------------------*\
    Setup the default typefaces and baseline grid
/*--------------------------------------------------------------------------*/

/* Common margin-bottom for vertical rhythm. */
h1,h2,h3,h4,h5,h6,
p,
table,
pre,
hr { .rem-size(margin-bottom, @base-line-height-computed); }

// Headings
h1, h2, h3, h4, h5, h6 {
    font-family: @base-font;
    font-weight: 700;
    color: @base-heading-color;

    small{
        font-weight: normal;
        line-height: 1;
        color: @base-heading-small-color;
        font-size: 65%;
        display: block;
    }
}

/* These handle massive type, for less frequently occurring bits of text (e.g. in mastheads and banners). */
.giga{ .font-size(@giga); }
.mega{ .font-size(@mega); }
.kilo{ .font-size(@kilo); }

/* Define headings and their associated classes here. */
h1, .alpha { .font-size(@alpha); }
h2, .beta { .font-size(@beta); }
h3, .gamma { .font-size(@gamma); }
h4, .delta { .font-size(@delta); }
h5, .epsilon { .font-size(@epsilon); }
h6, .zeta { .font-size(@zeta); }

/* Smaller-than-body-copy sizes here. */
small, .milli { .font-size(@milli); }
.micro { .font-size(@micro); }


// Emphasis & misc
// -------------------------

cite { font-style: normal; } // Undo browser default styling
mark, .mark {
    background-color: @warning;
    .rem-size(padding, .3);
}

// Misc
// -------------------------
// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted @ui;
}

// Blockquotes
blockquote {
    padding: unit((@base-line-height-computed / 2), px) unit(@base-line-height-computed, px);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    .rem-size(margin-bottom, @base-line-height-computed);
    .font-size(@gamma);
    border-left: 5px solid @ui;

    p,
    ul,
    ol { &:last-of-type { margin-bottom: 0; } }

    // Note: Deprecated small and .small as of v3.1.0
    // Context: https://github.com/twbs/bootstrap/issues/11660
    footer,
    small,
    .small {
        display: block;
        .font-size(@base-font-size);
        color: @ui-alt;
        &:before { content: '\2014 \00A0'; }
    }
}

// Quotes
blockquote:before,
blockquote:after { content: ""; }

// Addresses
address {
    .rem-size(margin-bottom, @base-line-height-computed);
    font-style: normal;
    line-height: @base-line-height;
}
