//--------------------------------------------------------------------------//
//  $DEFAULTS
//--------------------------------------------------------------------------//
//  Default variables used to establish the base framework
//--------------------------------------------------------------------------//

//--------------------------------------------------------------------------//
//  $COLORS
//--------------------------------------------------------------------------//
// Black & White
@black:                                     #000;
@white:                                     #fff;

// Gray scales Colors
@gray-10:                                   lighten(#000, 10%); // #1a1a1a
@gray-20:                                   lighten(#000, 20%); // #333333
@gray-30:                                   lighten(#000, 30%); // #4d4d4d
@gray-40:                                   lighten(#000, 40%); // #666666
@gray-50:                                   lighten(#000, 50%); // #808080
@gray-60:                                   lighten(#000, 60%); // #999999
@gray-70:                                   lighten(#000, 70%); // #b3b3b3
@gray-80:                                   lighten(#000, 80%); // #cccccc
@gray-87:                                   lighten(#000, 87%); // #dedede
@gray-90:                                   lighten(#000, 90%); // #e5e5e5
@gray-95:                                   lighten(#000, 95%); // #f2f2f2

// Primary Colors
@primary:                                   hsl(207,80%,30%);;  // #0F538A
@primary-alt:                               lighten(@primary, @lighten); // #47A1EB
@primary-accent:                            darken(@primary, @darken); // #0D4573
@primary-hover:                             darken(spin(@primary-alt, 138), @darken); // #E8305E

// Secondary Colors
@secondary:                                 desaturate(@primary-alt, @saturation); // #709DC2
@secondary-alt:                             lighten(@secondary, @lighten); // #DBE7F0
@secondary-accent:                          darken(@secondary-alt, @darken); // #C9DAE8
@secondary-hover:                           saturate(spin(@secondary-alt, -150), @saturation); // #FAF8D1

// UI Colors
@ui:                                        @gray-87; // #dedede
@ui-alt:                                    @gray-70; // #b3b3b3
@ui-accent:                                 spin(@secondary-alt, 138); // #F0DBE0
@ui-hover:                                  @primary-alt; // #47A1EB

// Color Tools
@lighten:                                   30%;
@darken:                                    5%;
@saturation:                                40%;

// Status Colors - Dark
@success-dark:                              #3c763d;
@info-dark:                                 #31708f;
@warning-dark:                              #8a6d3b;
@danger-dark:                               #a94442;

// Status Colors - Light
@success:                                   #dff0d8;
@info:                                      #d9edf7;
@warning:                                   #fcf8e3;
@danger:                                    #f2dede;



//--------------------------------------------------------------------------//
//  $FONTS
//--------------------------------------------------------------------------//

// Font Family
@base-font:                                 "Helvetica Neue", Helvetica, Arial, sans-serif;
@button-font:                               "Open Sans", "Droid Sans", Verdana, Arial, Helvetica, sans-serif;
@code-font:                                 Monaco, "Andale Mono","Courier New", Courier, mono;

// Modular Scale
@giga:                                      80;
@mega:                                      60;
@kilo:                                      48;
@alpha:                                     32;
@beta:                                      24;
@gamma:                                     20;
@delta:                                     18;
@epsilon:                                   16;
@zeta:                                      14;
@milli:                                     12;
@micro:                                     10;

// Base Font Size
@base-font-size:                            @epsilon;
@base-line-height:                          1.9;
@base-line-height-computed:                 floor((@base-font-size * @base-line-height)); //24px



//--------------------------------------------------------------------------//
//  $BASE SETTINGS
//--------------------------------------------------------------------------//

// Colors
@base-body-color:                           @gray-20;
@base-body-bg-color:                        desaturate(lighten(@secondary-alt, 5%), 20%);

@base-heading-color:                        @secondary;
@base-heading-small-color:                  @ui-alt;

@base-hr-color:                             @gray-90;

// Layout
@base-horizontal-offset:                    180px;

// Smallest fixed width container size
@base-container-size:                       720px;
// One Third Base Container Column Size - used to keep consistent scale for all fixed grids
@base-grid-multiplier:                      ((@base-container-size / @grid-columns) / 3); // 20px



//--------------------------------------------------------------------------//
//  $GRID SETTINGS
//--------------------------------------------------------------------------//
//  All grid values are based on the smallest column size being evenly divisible
//  into thirds. Each column size is then increased by a factor of 6 to ensure
//  rule of division by thirds. Container sizes are then generated by
//  multiplying the base column sizes by 3 to get the actual column sizes and
//  then by the number of columns

@grid-columns:                              12;
// Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:                         30px;

// Column Third (increment column third exponentially by 6)
@col-third-sm:                              @base-grid-multiplier;
@col-third-md:                              (@col-third-sm + 6);
@col-third-lg:                              (@col-third-md + 6);
@col-third-wd:                              (@col-third-lg + 6);

// Column Sizes (column third * 3)
@column-sm:                                 (@col-third-sm * 3); // 60px
@column-md:                                 (@col-third-md * 3); // 78px
@column-lg:                                 (@col-third-lg * 3); // 96px
@column-wd:                                 (@col-third-wd * 3); // 114px

// Container sizes (equals column size * columns)
@tiny:                                      100%;
@small:                                     @base-container-size;         // 720px
@medium:                                    (@column-md * @grid-columns); // 936px
@large:                                     (@column-lg * @grid-columns); // 1152px
@wide:                                      (@column-wd * @grid-columns); // 1368px

// Screen sizes (equals container size + bleed)
@container-sm:                              ((@small + @grid-gutter-width));  // 750px
@container-md:                              ((@medium + @grid-gutter-width)); // 966px
@container-lg:                              ((@large + @grid-gutter-width));  // 1182px
@container-wd:                              ((@wide + @grid-gutter-width));   // 1398px

// Breakpoints
@screen-tn:                                 480px;  // phone
@screen-sm:                                 unit((@container-sm + @base-line-height-computed), px); // 774px tablet
@screen-md:                                 unit((@container-md + @base-line-height-computed), px); // 990px desktop small
@screen-lg:                                 unit((@container-lg + @base-line-height-computed), px); // 1206px desktop large
@screen-wd:                                 unit((@container-wd + @base-line-height-computed), px); // 1422px desktop wide

// Min Values
@screen-tn-min:                             @screen-tn;
@screen-sm-min:                             @screen-sm;
@screen-md-min:                             @screen-md;
@screen-lg-min:                             @screen-lg;
@screen-wd-min:                             @screen-wd;

// Max Values
@screen-tn-max:                             (@screen-tn-min - 1);
@screen-sm-max:                             (@screen-md-min - 1);
@screen-md-max:                             (@screen-lg-min - 1);
@screen-lg-max:                             (@screen-wd-min - 1);

// Point at which un-collapsing begins.
@grid-float-breakpoint:                     @screen-sm;
// Point at which collapsing begins.
@grid-float-breakpoint-max:                 (@grid-float-breakpoint - 1);


//--------------------------------------------------------------------------//
//  $COMPONENT SETTINGS
//--------------------------------------------------------------------------//

@component-offset-horizontal:               180px;


