/*--------------------------------------------------------------------------*\
    $DEFAULTS
/*--------------------------------------------------------------------------*\
    Default variables used to establish the base framework
/*--------------------------------------------------------------------------*/

//--------------------------------------------------------------------------//
//  $COLORS
//--------------------------------------------------------------------------//
// Black & White
@black:                                     #000;
@white:                                     #fff;

// Gray scales Colors
@gray-10:                                   lighten(#000, 10%); // #1a1a1a
@gray-20:                                   lighten(#000, 20%); // #333333
@gray-30:                                   lighten(#000, 30%); // #4d4d4d
@gray-40:                                   lighten(#000, 40%); // #666
@gray-50:                                   lighten(#000, 50%); // #808
@gray:                                      lighten(#000, 60%); // #999
@gray-70:                                   lighten(#000, 70%); // #b3b
@gray-80:                                   lighten(#000, 80%); // #ccc
@gray-87:                                   lighten(#000, 87%); // #ddd
@gray-90:                                   lighten(#000, 90%); // #e5e5e5
@gray-95:                                   lighten(#000, 95%); // #f2f2f2

// Primary Colors
@primary:                                   #005587;
@primary-alt:                               #253746;
@primary-accent:                            #4c5d77;
@primary-hover:                             #c41d4a;

// Secondary Colors
@secondary:                                 #009bdf;
@secondary-alt:                             #e1ebf2;
@secondary-accent:                          mix(black, @secondary-alt, 10);
@secondary-hover:                           #f6f4d0;

// UI Colors
@ui:                                        @white-darker;
@ui-alt:                                    @gray-light;
@ui-accent:                                 #f7ecef;
@ui-hover:                                  @secondary;

// Status Colors - Dark
@success-dark:                              #3c763d;
@info-dark:                                 #31708f;
@warning-dark:                              #8a6d3b;
@danger-dark:                               #a94442;

// Status Colors - Light
@success:                                   #dff0d8;
@info:                                      #d9edf7;
@warning:                                   #fcf8e3;
@danger:                                    #f2dede;

//--------------------------------------------------------------------------//
//  $FONTS
//--------------------------------------------------------------------------//

