/*--------------------------------------------------------------------------*\
    $IE Fixes
/*--------------------------------------------------------------------------*\
    Fixes for IE 9
/*--------------------------------------------------------------------------*/

html {
    overflow-x: auto\9;
    overflow-y: hidden\9;
}

.features-header {
    overflow: hidden;
    background-image: url('../imgs/phpbb-features-ie.png');
    background-repeat: no-repeat;
    height: 294px;
}

.masthead,
.masthead-title,
.masthead-sub-title,
.masthead-clear-outline { display: none !important; }

.nav { color: #fff; }

* html .features-nav-fixed { position: absolute\9; }
