/*--------------------------------------------------------------------------*\
    $THEME
/*--------------------------------------------------------------------------*\
    Used to consolidate all theme files
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*\
    $ELEMENTS
/*--------------------------------------------------------------------------*/
.logo {
    background: url('../imgs/prosilver-logo.png') no-repeat;
    display: inline-block;
    width: 144px;
    height: 50px;
}
/*--------------------------------------------------------------------------*\
    $COMPONENTS
/*--------------------------------------------------------------------------*/
.navbar-heading {
    line-height: 0;
    margin-bottom: 0;
}

.navbar-nav,
.navbar-nav-mobile {
    text-align: right;
}

.navbar-nav-link {
    line-height: 3.125;
    color: #73C8ED;
    display: inline-block;
    padding-left: 16px;
    padding-left: 1rem;
    padding-right: 16px;
    padding-right: 1rem;
}

.navbar-nav-link:hover {
    text-decoration: none;
    color: #FFF;
}

.color-title {
    text-align: right;
    color: #B3B3B3;
    margin-top: 24px;
    margin-top: 1.5rem;
}

@media (max-width: 785px) {
    .color-title {
        text-align: left;
    }
}

.color-list {
    padding: 0;
}

.color-list li {
    cursor: pointer;
    padding: 0;
}

.swatch {
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    display: block;
    width: 30px;
    height: 30px;
    margin: 12px;
    margin: .75rem;
}

.swatch-label {
    text-align: center;
}

.swatch-black {
    background-color: #000;
}

a.swatch-black:hover {
    background-color: #000;
}

.swatch-gray-10 {
    background-color: #1A1A1A;
}

a.swatch-gray-10:hover {
    background-color: #000;
}

.swatch-gray-20 {
    background-color: #333;
}

a.swatch-gray-20:hover {
    background-color: #1A1A1A;
}

.swatch-gray-30 {
    background-color: #4D4D4D;
}

a.swatch-gray-30:hover {
    background-color: #333;
}

.swatch-gray-40 {
    background-color: #666;
}

a.swatch-gray-40:hover {
    background-color: #4D4D4D;
}

.swatch-gray-50 {
    background-color: #808080;
}

a.swatch-gray-50:hover {
    background-color: #666;
}

.swatch-gray-60 {
    background-color: #999;
}

a.swatch-gray-60:hover {
    background-color: #808080;
}

.swatch-gray-70 {
    background-color: #B3B3B3;
}

a.swatch-gray-70:hover {
    background-color: #999;
}

.swatch-gray-80 {
    background-color: #CCC;
}

a.swatch-gray-80:hover {
    background-color: #B3B3B3;
}

.swatch-gray-90 {
    background-color: #E6E6E6;
}

a.swatch-gray-90:hover {
    background-color: #CCC;
}

.swatch-gray-95 {
    background-color: #F2F2F2;
}

a.swatch-gray-95:hover {
    background-color: #D9D9D9;
}

.swatch-white {
    background-color: #FFF;
}

a.swatch-white:hover {
    background-color: #E6E6E6;
}

.swatch-primary {
    background-color: #005587;
}

a.swatch-primary:hover {
    background-color: #003554;
}

.swatch-primary-alt {
    background-color: #194F90;
}

a.swatch-primary-alt:hover {
    background-color: #113765;
}

.swatch-primary-accent {
    background-color: #537BAC;
}

a.swatch-primary-accent:hover {
    background-color: #426289;
}

.swatch-primary-hover {
    background-color: #C41D4A;
}

a.swatch-primary-hover:hover {
    background-color: #981639;
}

.swatch-secondary {
    background-color: #009BDF;
}

a.swatch-secondary:hover {
    background-color: #0078AC;
}

.swatch-secondary-alt {
    background-color: #E1EBF2;
}

a.swatch-secondary-alt:hover {
    background-color: #BDD3E3;
}

.swatch-secondary-accent {
    background-color: #E9F0F5;
}

a.swatch-secondary-accent:hover {
    background-color: #C5D8E6;
}

.swatch-secondary-hover {
    background-color: #F6F4D0;
}

a.swatch-secondary-hover:hover {
    background-color: #EEEAA5;
}

.swatch-ui {
    background-color: #DEDEDE;
}

a.swatch-ui:hover {
    background-color: #C4C4C4;
}

.swatch-ui-alt {
    background-color: #B3B3B3;
}

a.swatch-ui-alt:hover {
    background-color: #999;
}

.swatch-ui-accent {
    background-color: #F7ECEF;
}

a.swatch-ui-accent:hover {
    background-color: #E8C8D1;
}

.swatch-ui-hover {
    background-color: #009BDF;
}

a.swatch-ui-hover:hover {
    background-color: #0078AC;
}

.swatch-info {
    background-color: #D9EDF7;
}

a.swatch-info:hover {
    background-color: #AFD9EE;
}

.swatch-danger {
    background-color: #F2DEDE;
}

a.swatch-danger:hover {
    background-color: #E4B9B9;
}

.swatch-warning {
    background-color: #FCF8E3;
}

a.swatch-warning:hover {
    background-color: #F7ECB5;
}

.swatch-success {
    background-color: #DFF0D8;
}

a.swatch-success:hover {
    background-color: #C1E2B3;
}
/*--------------------------------------------------------------------------*\
    $BLOCKS
/*--------------------------------------------------------------------------*/
.header {
    background-color: #009BDF;
    border-bottom: 2px solid #DEDEDE;
    padding-top: 12px;
    padding-top: .75rem;
    padding-bottom: 12px;
    padding-bottom: .75rem;
}
