/*--------------------------------------------------------------------------*\
    $THEME
/*--------------------------------------------------------------------------*\
    Used to consolidate all theme files
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*\
    $ELEMENTS
/*--------------------------------------------------------------------------*/
.logo {
    background: url('../imgs/prosilver-logo.png') no-repeat;

    display: inline-block;
    width: 144px;
    height: 50px;
}
.lead {
    margin-bottom: 10px;
    margin-bottom: .625rem;
}
.copy {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.66666667;
}
/*--------------------------------------------------------------------------*\
    $COMPONENTS
/*--------------------------------------------------------------------------*/
.navbar-heading {
    line-height: 0;

    margin-bottom: 0;
}
.navbar-nav,
.navbar-nav-mobile {
    text-align: right;
}
.navbar-nav-link {
    line-height: 3.125;

    color: #9ACBF4;

    display: inline-block;
    padding-left: 16px;
    padding-left: 1rem;
    padding-right: 16px;
    padding-right: 1rem;
}
.navbar-nav-link:hover {
    text-decoration: none;

    color: #FFF;
}
.color-title {
    text-align: right;

    color: #B3B3B3;

    margin-top: 30px;
    margin-top: 1.875rem;
}
@media (max-width: 479px) {
    .color-title {
        text-align: left;
    }
}
.color-list li {
    cursor: pointer;

    padding: 0;
}
.swatch {
    border-radius: 6px;

    width: 120px;
    height: 100px;
    margin: 15px;
    margin: .9375rem;
    margin: 15px 6px;
}
.swatch-label {
    font-size: 12px;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;

    background-color: #FFF;
    border: 1px solid #DEDEDE;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #0D4573;

    position: relative;
    top: 60px;
    margin: 0;
    padding: 6px 12px;
}
.swatch-hexcode {
    font-size: 9px;
    font-size: .5625rem;

    color: #47A1EB;

    display: block;
}
.swatch-black {
    background-color: #000;
}
a.swatch-black:hover {
    background-color: #000;
}
.swatch-gray-10 {
    background-color: #1A1A1A;
}
a.swatch-gray-10:hover {
    background-color: #000;
}
.swatch-gray-20 {
    background-color: #333;
}
a.swatch-gray-20:hover {
    background-color: #1A1A1A;
}
.swatch-gray-30 {
    background-color: #4D4D4D;
}
a.swatch-gray-30:hover {
    background-color: #333;
}
.swatch-gray-40 {
    background-color: #666;
}
a.swatch-gray-40:hover {
    background-color: #4D4D4D;
}
.swatch-gray-50 {
    background-color: #808080;
}
a.swatch-gray-50:hover {
    background-color: #666;
}
.swatch-gray-60 {
    background-color: #999;
}
a.swatch-gray-60:hover {
    background-color: #808080;
}
.swatch-gray-70 {
    background-color: #B3B3B3;
}
a.swatch-gray-70:hover {
    background-color: #999;
}
.swatch-gray-80 {
    background-color: #CCC;
}
a.swatch-gray-80:hover {
    background-color: #B3B3B3;
}
.swatch-gray-90 {
    background-color: #E6E6E6;
}
a.swatch-gray-90:hover {
    background-color: #CCC;
}
.swatch-gray-95 {
    background-color: #F2F2F2;
}
a.swatch-gray-95:hover {
    background-color: #D9D9D9;
}
.swatch-white {
    background-color: #FFF;
}
a.swatch-white:hover {
    background-color: #E6E6E6;
}
.swatch-primary {
    background-color: #0F538A;
}
a.swatch-primary:hover {
    background-color: #0A375C;
}
.swatch-primary-alt {
    background-color: #47A1EB;
}
a.swatch-primary-alt:hover {
    background-color: #198AE6;
}
.swatch-primary-accent {
    background-color: #0D4573;
}
a.swatch-primary-accent:hover {
    background-color: #082945;
}
.swatch-primary-hover {
    background-color: #E8305E;
}
a.swatch-primary-hover:hover {
    background-color: #CF1745;
}
.swatch-secondary {
    background-color: #709DC2;
}
a.swatch-secondary:hover {
    background-color: #4C85B3;
}
.swatch-secondary-alt {
    background-color: #DBE7F0;
}
a.swatch-secondary-alt:hover {
    background-color: #B8CEE0;
}
.swatch-secondary-accent {
    background-color: #C9DAE8;
}
a.swatch-secondary-accent:hover {
    background-color: #A6C2D9;
}
.swatch-secondary-hover {
    background-color: #FAF8D1;
}
a.swatch-secondary-hover:hover {
    background-color: #F5F1A3;
}
.swatch-ui {
    background-color: #DEDEDE;
}
a.swatch-ui:hover {
    background-color: #C4C4C4;
}
.swatch-ui-alt {
    background-color: #B3B3B3;
}
a.swatch-ui-alt:hover {
    background-color: #999;
}
.swatch-ui-accent {
    background-color: #F0DBE0;
}
a.swatch-ui-accent:hover {
    background-color: #E0B8C2;
}
.swatch-ui-hover {
    background-color: #47A1EB;
}
a.swatch-ui-hover:hover {
    background-color: #198AE6;
}
.swatch-info {
    background-color: #D9EDF7;
}
a.swatch-info:hover {
    background-color: #AFD9EE;
}
.swatch-danger {
    background-color: #F2DEDE;
}
a.swatch-danger:hover {
    background-color: #E4B9B9;
}
.swatch-warning {
    background-color: #FCF8E3;
}
a.swatch-warning:hover {
    background-color: #F7ECB5;
}
.swatch-success {
    background-color: #DFF0D8;
}
a.swatch-success:hover {
    background-color: #C1E2B3;
}
.swatch-info-dark {
    background-color: #31708F;
}
a.swatch-info-dark:hover {
    background-color: #245269;
}
.swatch-danger-dark {
    background-color: #A94442;
}
a.swatch-danger-dark:hover {
    background-color: #843534;
}
.swatch-warning-dark {
    background-color: #8A6D3B;
}
a.swatch-warning-dark:hover {
    background-color: #66512C;
}
.swatch-success-dark {
    background-color: #3C763D;
}
a.swatch-success-dark:hover {
    background-color: #2B542C;
}
.swatch-grad-blue-dark {
    background-image: -webkit-linear-gradient(#146EB8, #47A1EB 90px, #47A1EB);
    background-image:      -o-linear-gradient(#146EB8, #47A1EB 90px, #47A1EB);
    background-image:         linear-gradient(#146EB8, #47A1EB 90px, #47A1EB);
    background-repeat: no-repeat;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff146eb8', endColorstr='#ff47a1eb', GradientType=0);
}
.swatch-grad-blue-dark-reverse {
    background-image: -webkit-linear-gradient(#47A1EB, #146EB8 90px, #146EB8);
    background-image:      -o-linear-gradient(#47A1EB, #146EB8 90px, #146EB8);
    background-image:         linear-gradient(#47A1EB, #146EB8 90px, #146EB8);
    background-repeat: no-repeat;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff47a1eb', endColorstr='#ff146eb8', GradientType=0);
}
.swatch-grad-blue-light {
    background-image: -webkit-linear-gradient(#C9DAE8, #DBE7F0 15%, #DBE7F0);
    background-image:      -o-linear-gradient(#C9DAE8, #DBE7F0 15%, #DBE7F0);
    background-image:         linear-gradient(#C9DAE8, #DBE7F0 15%, #DBE7F0);
    background-repeat: no-repeat;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc9dae8', endColorstr='#ffdbe7f0', GradientType=0);
}
.swatch-grad-blue-light-reverse {
    background-image: -webkit-linear-gradient(#DBE7F0, #C9DAE8 15%, #C9DAE8);
    background-image:      -o-linear-gradient(#DBE7F0, #C9DAE8 15%, #C9DAE8);
    background-image:         linear-gradient(#DBE7F0, #C9DAE8 15%, #C9DAE8);
    background-repeat: no-repeat;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbe7f0', endColorstr='#ffc9dae8', GradientType=0);
}
.swatch-grad-gray {
    background-image: -webkit-linear-gradient(top, #E6E6E6 0%, #FFF 100%);
    background-image:      -o-linear-gradient(top, #E6E6E6 0%, #FFF 100%);
    background-image:         linear-gradient(to bottom, #E6E6E6 0%, #FFF 100%);
    background-repeat: repeat-x;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffffffff', GradientType=0);
}
.swatch-grad-gray-reverse {
    background-image: -webkit-linear-gradient(top, #FFF 0%, #E6E6E6 100%);
    background-image:      -o-linear-gradient(top, #FFF 0%, #E6E6E6 100%);
    background-image:         linear-gradient(to bottom, #FFF 0%, #E6E6E6 100%);
    background-repeat: repeat-x;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
}
.swatch-grad-bluegray {
    background-image: -webkit-linear-gradient(top, #B5C4D1 0%, #C9DAE8 100%);
    background-image:      -o-linear-gradient(top, #B5C4D1 0%, #C9DAE8 100%);
    background-image:         linear-gradient(to bottom, #B5C4D1 0%, #C9DAE8 100%);
    background-repeat: repeat-x;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb5c4d1', endColorstr='#ffc9dae8', GradientType=0);
}
.swatch-grad-bluegray-reverse {
    background-image: -webkit-linear-gradient(top, #C9DAE8 0%, #B5C4D1 100%);
    background-image:      -o-linear-gradient(top, #C9DAE8 0%, #B5C4D1 100%);
    background-image:         linear-gradient(to bottom, #C9DAE8 0%, #B5C4D1 100%);
    background-repeat: repeat-x;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc9dae8', endColorstr='#ffb5c4d1', GradientType=0);
}
.swatch-grad-secondary {
    background-image: -webkit-linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-image:      -o-linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-image:         linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-repeat: no-repeat;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0d4573', endColorstr='#ff709dc2', GradientType=0);
}
.swatch-grad-secondary {
    background-image: -webkit-linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-image:      -o-linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-image:         linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-repeat: no-repeat;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0d4573', endColorstr='#ff709dc2', GradientType=0);
}
.swatch-grad-secondary {
    background-image: -webkit-linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-image:      -o-linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-image:         linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-repeat: no-repeat;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0d4573', endColorstr='#ff709dc2', GradientType=0);
}
.swatch-grad-secondary {
    background-image: -webkit-linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-image:      -o-linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-image:         linear-gradient(#0D4573, #709DC2 90px, #709DC2);
    background-repeat: no-repeat;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0d4573', endColorstr='#ff709dc2', GradientType=0);
}
.bg-color-1 {
    background-color: #000;
}
a.bg-color-1:hover {
    background-color: #000;
}
.bg-color-2 {
    background-color: #FFF;
}
a.bg-color-2:hover {
    background-color: #E6E6E6;
}
.bg-color-3 {
    background-color: #EDEDED;
}
a.bg-color-3:hover {
    background-color: #D4D4D4;
}
.bg-color-4 {
    background-color: #FAFAFA;
}
a.bg-color-4:hover {
    background-color: #E0E0E0;
}
.bg-color-5 {
    background-color: #FAFAFA;
}
a.bg-color-5:hover {
    background-color: #E0E0E0;
}
.bg-color-6 {
    background-color: #EAE9DC;
}
a.bg-color-6:hover {
    background-color: #D7D6BC;
}
.bg-color-7 {
    background-color: #EEEDD7;
}
a.bg-color-7:hover {
    background-color: #DFDDB3;
}
.bg-color-8 {
    background-color: #F6F4D0;
}
a.bg-color-8:hover {
    background-color: #EEEAA5;
}
.bg-color-9 {
    background-color: #F2F3F3;
}
a.bg-color-9:hover {
    background-color: #D7DADA;
}
.bg-color-10 {
    background-color: #ECF1F3;
}
a.bg-color-10:hover {
    background-color: #CDDAE0;
}
.bg-color-11 {
    background-color: #0077B3;
}
a.bg-color-11:hover {
    background-color: #00557F;
}
.bg-color-12 {
    background-color: #12A4ED;
}
a.bg-color-12:hover {
    background-color: #0E83BE;
}
.bg-color-13 {
    background-color: #EDF4F7;
}
a.bg-color-13:hover {
    background-color: #C9DDE8;
}
.bg-color-14 {
    background-color: #ECF4F8;
}
a.bg-color-14:hover {
    background-color: #C6DEEB;
}
.bg-color-15 {
    background-color: #4592BF;
}
a.bg-color-15:hover {
    background-color: #35769C;
}
.bg-color-16 {
    background-color: #BACCD9;
}
a.bg-color-16:hover {
    background-color: #99B4C7;
}
.bg-color-17 {
    background-color: #E2ECF3;
}
a.bg-color-17:hover {
    background-color: #BFD4E3;
}
.bg-color-18 {
    background-color: #A9BAC6;
}
a.bg-color-18:hover {
    background-color: #8BA1B1;
}
.bg-color-19 {
    background-color: #F1F5F9;
}
a.bg-color-19:hover {
    background-color: #CEDDE9;
}
.bg-color-20 {
    background-color: #B3C3D0;
}
a.bg-color-20:hover {
    background-color: #93AABD;
}
.bg-color-21 {
    background-color: #CBDDEB;
}
a.bg-color-21:hover {
    background-color: #A6C5DD;
}
.bg-color-22 {
    background-color: #378AD2;
}
a.bg-color-22:hover {
    background-color: #2870AF;
}
.bg-color-23 {
    background-color: #D0E4F6;
}
a.bg-color-23:hover {
    background-color: #A5CCEE;
}
.bg-color-24 {
    background-color: #DFEEFB;
}
a.bg-color-24:hover {
    background-color: #B1D6F6;
}
.bg-color-25 {
    background-color: #F0F7FF;
}
a.bg-color-25:hover {
    background-color: #BDDEFF;
}
.bg-color-26 {
    background-color: #ECEDEE;
}
a.bg-color-26:hover {
    background-color: #D1D4D6;
}
.bg-color-27 {
    background-color: #D0E2F6;
}
a.bg-color-27:hover {
    background-color: #A5C7EE;
}
.bg-color-28 {
    background-color: #F5F7FA;
}
a.bg-color-28:hover {
    background-color: #D3DCE9;
}
.bg-color-29 {
    background-color: #E6E8EA;
}
a.bg-color-29:hover {
    background-color: #CBCDD2;
}
.bg-color-30 {
    background-color: #DBDDE1;
}
a.bg-color-30:hover {
    background-color: #BFC3CA;
}
.bg-color-31 {
    background-color: #E31654;
}
a.bg-color-31:hover {
    background-color: #B51243;
}
.bg-color-32 {
    background-color: #F81257;
}
a.bg-color-32:hover {
    background-color: #D00643;
}
.bg-color-33 {
    background-color: #D11A4E;
}
a.bg-color-33:hover {
    background-color: #A3143D;
}
.bg-color-34 {
    background-color: #F7EDF0;
}
a.bg-color-34:hover {
    background-color: #E8C9D1;
}
.bg-color-35 {
    background-color: #A92347;
}
a.bg-color-35:hover {
    background-color: #7F1A35;
}
.bg-color-36 {
    background-color: #BE1E48;
}
a.bg-color-36:hover {
    background-color: #921737;
}
.bg-color-37 {
    background-color: #F3BFCC;
}
a.bg-color-37:hover {
    background-color: #EB94AA;
}
.bg-color-38 {
    background-color: #ECD5D8;
}
a.bg-color-38:hover {
    background-color: #DCB2B7;
}
.bd-color-1 {
    background-color: #000;
}
a.bd-color-1:hover {
    background-color: #000;
}
.bd-color-2 {
    background-color: #FFF;
}
a.bd-color-2:hover {
    background-color: #E6E6E6;
}
.bd-color-3 {
    background-color: #666;
}
a.bd-color-3:hover {
    background-color: #4D4D4D;
}
.bd-color-4 {
    background-color: #999;
}
a.bd-color-4:hover {
    background-color: #808080;
}
.bd-color-5 {
    background-color: #BABABA;
}
a.bd-color-5:hover {
    background-color: #A1A1A1;
}
.bd-color-6 {
    background-color: #CCC;
}
a.bd-color-6:hover {
    background-color: #B3B3B3;
}
.bd-color-7 {
    background-color: #D9D9D9;
}
a.bd-color-7:hover {
    background-color: #BFBFBF;
}
.bd-color-8 {
    background-color: #DBDBDB;
}
a.bd-color-8:hover {
    background-color: #C2C2C2;
}
.bd-color-9 {
    background-color: #DEDEDE;
}
a.bd-color-9:hover {
    background-color: #C4C4C4;
}
.bd-color-10 {
    background-color: #F60;
}
a.bd-color-10:hover {
    background-color: #CC5200;
}
.bd-color-11 {
    background-color: #C6C2BE;
}
a.bd-color-11:hover {
    background-color: #AEA8A2;
}
.bd-color-12 {
    background-color: #DADACD;
}
a.bd-color-12:hover {
    background-color: #C4C4B0;
}
.bd-color-13 {
    background-color: #0077B3;
}
a.bd-color-13:hover {
    background-color: #00557F;
}
.bd-color-14 {
    background-color: #11A1E8;
}
a.bd-color-14:hover {
    background-color: #0E80B9;
}
.bd-color-15 {
    background-color: #0A8FD1;
}
a.bd-color-15:hover {
    background-color: #086EA1;
}
.bd-color-16 {
    background-color: #4592BF;
}
a.bd-color-16:hover {
    background-color: #35769C;
}
.bd-color-17 {
    background-color: #A6B2BA;
}
a.bd-color-17:hover {
    background-color: #8999A4;
}
.bd-color-18 {
    background-color: #CAD3D8;
}
a.bd-color-18:hover {
    background-color: #ACBAC3;
}
.bd-color-19 {
    background-color: #A8B8C2;
}
a.bd-color-19:hover {
    background-color: #8B9FAC;
}
.bd-color-20 {
    background-color: #A5B4C0;
}
a.bd-color-20:hover {
    background-color: #889BAA;
}
.bd-color-21 {
    background-color: #CBDDEB;
}
a.bd-color-21:hover {
    background-color: #A6C5DD;
}
.bd-color-22 {
    background-color: #105389;
}
a.bd-color-22:hover {
    background-color: #0B375B;
}
.bd-color-23 {
    background-color: #378AD2;
}
a.bd-color-23:hover {
    background-color: #2870AF;
}
.bd-color-24 {
    background-color: #5C8EBC;
}
a.bd-color-24:hover {
    background-color: #4374A3;
}
.bd-color-25 {
    background-color: #F0F7FF;
}
a.bd-color-25:hover {
    background-color: #BDDEFF;
}
.bd-color-26 {
    background-color: #B4BAC0;
}
a.bd-color-26:hover {
    background-color: #98A1A9;
}
.bd-color-27 {
    background-color: #DADDE1;
}
a.bd-color-27:hover {
    background-color: #BEC3CB;
}
.bd-color-28 {
    background-color: #E7EAEE;
}
a.bd-color-28:hover {
    background-color: #CAD0D8;
}
.bd-color-29 {
    background-color: #546583;
}
a.bd-color-29:hover {
    background-color: #404D64;
}
.bd-color-30 {
    background-color: #BFC1CF;
}
a.bd-color-30:hover {
    background-color: #A2A5B9;
}
.bd-color-31 {
    background-color: #D41142;
}
a.bd-color-31:hover {
    background-color: #A50D33;
}
.bd-color-32 {
    background-color: #BB2A4C;
}
a.bd-color-32:hover {
    background-color: #91213B;
}
.bl-color-1 {
    background-color: #FFF;
}
a.bl-color-1:hover {
    background-color: #E6E6E6;
}
.bl-color-2 {
    background-color: #CCC;
}
a.bl-color-2:hover {
    background-color: #B3B3B3;
}
.bl-color-3 {
    background-color: #D11A4E;
}
a.bl-color-3:hover {
    background-color: #A3143D;
}
.bl-color-4 {
    background-color: #A92347;
}
a.bl-color-4:hover {
    background-color: #7F1A35;
}
.bl-color-5 {
    background-color: #BE1E48;
}
a.bl-color-5:hover {
    background-color: #921737;
}
.bl-color-6 {
    background-color: #8D1C38;
}
a.bl-color-6:hover {
    background-color: #621327;
}
.bl-color-7 {
    background-color: #BB2A4C;
}
a.bl-color-7:hover {
    background-color: #91213B;
}
.bl-color-8 {
    background-color: #74162C;
}
a.bl-color-8:hover {
    background-color: #490E1C;
}
.br-color-1 {
    background-color: #FFF;
}
a.br-color-1:hover {
    background-color: #E6E6E6;
}
.br-color-2 {
    background-color: #CCC;
}
a.br-color-2:hover {
    background-color: #B3B3B3;
}
.br-color-3 {
    background-color: #D11A4E;
}
a.br-color-3:hover {
    background-color: #A3143D;
}
.br-color-4 {
    background-color: #A92347;
}
a.br-color-4:hover {
    background-color: #7F1A35;
}
.br-color-5 {
    background-color: #BE1E48;
}
a.br-color-5:hover {
    background-color: #921737;
}
.br-color-6 {
    background-color: #8D1C38;
}
a.br-color-6:hover {
    background-color: #621327;
}
.br-color-7 {
    background-color: #BB2A4C;
}
a.br-color-7:hover {
    background-color: #91213B;
}
.br-color-8 {
    background-color: #74162C;
}
a.br-color-8:hover {
    background-color: #490E1C;
}
.bt-color-1 {
    background-color: #FFF;
}
a.bt-color-1:hover {
    background-color: #E6E6E6;
}
.bt-color-2 {
    background-color: #BABABA;
}
a.bt-color-2:hover {
    background-color: #A1A1A1;
}
.bt-color-3 {
    background-color: #CCC;
}
a.bt-color-3:hover {
    background-color: #B3B3B3;
}
.bt-color-4 {
    background-color: #FAFAFA;
}
a.bt-color-4:hover {
    background-color: #E0E0E0;
}
.bt-color-5 {
    background-color: #FAFAFA;
}
a.bt-color-5:hover {
    background-color: #E0E0E0;
}
.bt-color-6 {
    background-color: #CAD3D8;
}
a.bt-color-6:hover {
    background-color: #ACBAC3;
}
.bt-color-7 {
    background-color: #B4C0CA;
}
a.bt-color-7:hover {
    background-color: #97A7B5;
}
.bt-color-8 {
    background-color: #DBDDE1;
}
a.bt-color-8:hover {
    background-color: #BFC3CA;
}
.bb-color-1 {
    background-color: #333;
}
a.bb-color-1:hover {
    background-color: #1A1A1A;
}
.bb-color-2 {
    background-color: #CCC;
}
a.bb-color-2:hover {
    background-color: #B3B3B3;
}
.bb-color-3 {
    background-color: #005F8F;
}
a.bb-color-3:hover {
    background-color: #003D5C;
}
.bb-color-4 {
    background-color: #B4C0CA;
}
a.bb-color-4:hover {
    background-color: #97A7B5;
}
.bb-color-5 {
    background-color: #378AD2;
}
a.bb-color-5:hover {
    background-color: #2870AF;
}
.bb-color-6 {
    background-color: #5C8EBC;
}
a.bb-color-6:hover {
    background-color: #4374A3;
}
.bb-color-7 {
    background-color: #D11A4E;
}
a.bb-color-7:hover {
    background-color: #A3143D;
}
.bb-color-8 {
    background-color: #A92347;
}
a.bb-color-8:hover {
    background-color: #7F1A35;
}
.bb-color-9 {
    background-color: #BE1E48;
}
a.bb-color-9:hover {
    background-color: #921737;
}
.bb-color-10 {
    background-color: #8D1C38;
}
a.bb-color-10:hover {
    background-color: #621327;
}
.bb-color-11 {
    background-color: #74162C;
}
a.bb-color-11:hover {
    background-color: #490E1C;
}
.f-color-1 {
    background-color: #000;
}
a.f-color-1:hover {
    background-color: #000;
}
.f-color-2 {
    background-color: #FFF;
}
a.f-color-2:hover {
    background-color: #E6E6E6;
}
.f-color-3 {
    background-color: #333;
}
a.f-color-3:hover {
    background-color: #1A1A1A;
}
.f-color-4 {
    background-color: #545454;
}
a.f-color-4:hover {
    background-color: #3B3B3B;
}
.f-color-5 {
    background-color: #666;
}
a.f-color-5:hover {
    background-color: #4D4D4D;
}
.f-color-6 {
    background-color: #2E8A56;
}
a.f-color-6:hover {
    background-color: #21633E;
}
.f-color-7 {
    background-color: #129AD9;
}
a.f-color-7:hover {
    background-color: #0E78AA;
}
.f-color-8 {
    background-color: #A8D8FF;
}
a.f-color-8:hover {
    background-color: #75C1FF;
}
.f-color-9 {
    background-color: #105389;
}
a.f-color-9:hover {
    background-color: #0B375B;
}
.f-color-10 {
    background-color: #115B97;
}
a.f-color-10:hover {
    background-color: #0C3F6A;
}
.f-color-11 {
    background-color: #378AD2;
}
a.f-color-11:hover {
    background-color: #2870AF;
}
.f-color-12 {
    background-color: #0D4373;
}
a.f-color-12:hover {
    background-color: #082845;
}
.f-color-13 {
    background-color: #5B748B;
}
a.f-color-13:hover {
    background-color: #475A6C;
}
.f-color-14 {
    background-color: #5C8EBC;
}
a.f-color-14:hover {
    background-color: #4374A3;
}
.f-color-15 {
    background-color: #0F4885;
}
a.f-color-15:hover {
    background-color: #0A2F57;
}
.f-color-16 {
    background-color: #115097;
}
a.f-color-16:hover {
    background-color: #0C386A;
}
.f-color-17 {
    background-color: #28303E;
}
a.f-color-17:hover {
    background-color: #14181F;
}
.f-color-18 {
    background-color: #425067;
}
a.f-color-18:hover {
    background-color: #2E3848;
}
.f-color-19 {
    background-color: #546583;
}
a.f-color-19:hover {
    background-color: #404D64;
}
.f-color-20 {
    background-color: #D41142;
}
a.f-color-20:hover {
    background-color: #A50D33;
}
.f-color-21 {
    background-color: #BB2A4C;
}
a.f-color-21:hover {
    background-color: #91213B;
}
h1 {
    color: #666;
}
/*--------------------------------------------------------------------------*\
    $BLOCKS
/*--------------------------------------------------------------------------*/
.header {
    background-color: #47A1EB;
    border-bottom: 2px solid #DEDEDE;

    padding-top: 15px;
    padding-top: .9375rem;
    padding-bottom: 15px;
    padding-bottom: .9375rem;
}
.banner {
    background-color: #F2F2F2;

    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}
.banner-title {
    margin-bottom: 0;
}
.giga.banner-title {
    line-height: 5;
}
.mega.banner-title {
    line-height: 3.75;
}
.kilo.banner-title {
    line-height: 3;
}
.alpha.banner-title {
    line-height: 2;
}
.beta.banner-title {
    line-height: 1.5;
}
.gamma.banner-title {
    line-height: 1.25;
}
.delta.banner-title {
    line-height: 1.125;
}
.epsilon.banner-title {
    line-height: 1;
}
.zeta.banner-title {
    line-height: .875;
}
.milli.banner-title {
    line-height: .75;
}
.micro.banner-title {
    line-height: .625;
}
